body{
    background-image: url(./assets/bg.jpg);
    object-fit: cover;
    background-size: 100% 100%;
}

.card-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.carousel-item img{
    height: 60vh;
}

.card-body{
    background-color: rgb(117, 115, 115);
    color: white;
}